* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu {
    background-color: #f9f9f9;
    padding: 15px;
    width: 25%;
    border-radius: 10px;
}
.menu h2 {
    color: black;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
}
.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    color: blue;
    text-decoration: none;
}